/* Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container_fluid {
    width: 100%;
    margin: auto;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

body {
    background-color: white;
    height: 100vh;
}

/* Colors Palette */

:root {

    --db-primary: #FFFFFF;
    --db-dark: #000000;
    --db-border-darker: #A0A0A0;
    --db-border-dark: #BBBBBB;
    --db-border-light: #D9D9D9;
    --db-border-lighter: #EDEDED;
    --db-square-dark: #0D2481;
    --db-square-light: #0093CE;
    --db-square-bordeu: #61082B;
    --db-square-green: #A2D39B;
    --db-square-reddark: #D5001F;
    --db-square-red: #FF1C1C;
    --db-square-yellow: #FFD830;
    --db-buttons: #0061FF;
    --db-jumbo-banner-square: #B4D0E7;

}

/* Header */

header .container_fluid {
    display: flex;
    justify-content: space-between;
}

.info {
    vertical-align: super;
}

#header_left, #header_right {
    padding: 1rem;
}

.info span {
    padding-left: 1.5rem;
}

.support span {
    padding-left: 1.5rem;
}

.buttons span {
    padding-right: 1rem;
}

header button {
    text-align: center;
}

  /* Main */

  main .container_fluid {
    background-color: var(--db-jumbo-banner-square);
  }

  main .container {
    width: 60%;
    height: 36rem;
  }

 #jumbotron h1 {
    font-size: 4rem;
    padding-top: 3rem;
 }

 #jumbotron p {
    font-size: 0.9rem;
 }

.jumbo_float img {
    float: right;
    height: 25rem;
    padding-top: 2rem;
    padding-left: 1rem;
}

.jumbo_float p {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.cancel {
    padding-top: 2rem;
}

.arrow {
    font-size: 2rem;
    padding-top: 1.5rem;
}

  

/* Utilities */

.inline_block {
    display: inline-block;
}

.opensans {
    font-family: 'Open Sans', sans-serif;
  }

  .btn_blue {
    border-radius: 1.6rem;
    height: 1rem;
    padding: 1rem 1.5rem;
    line-height: 0;
    font-size: 0.6rem;
    border: white;
    color: var(--db-primary);
    background-color: var(--db-buttons);
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }