/* Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container_fluid {
    width: 100%;
    margin: auto;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

body {
    background-color: white;
    height: 100%;
}

/* Colors Palette */

:root {

    --db-primary: #FFFFFF;
    --db-dark: #000000;
    --db-border-darker: #A0A0A0;
    --db-border-dark: #BBBBBB;
    --db-border-designit: #D5D5D7;
    --db-border-light: #D9D9D9;
    --db-designit: #F5F5F5;
    --db-month: #ADABA6;
    --db-border-lighter: #EDEDED;
    --db-border-main: #E8E8EA;
    --db-square-dark: #0D2481;
    --db-square-light: #0093CE;
    --db-square-bordeu: #61082B;
    --db-square-green: #A2D39B;
    --db-square-reddark: #D5001F;
    --db-square-red: #FF1C1C;
    --db-square-yellow: #FFD830;
    --db-buttons: #0061FF;
    --db-check: #1363FF;
    --db-jumbo-banner-square: #B4D0E7;

}

/* Header */

header .container_fluid {
    display: flex;
    justify-content: space-between;
}

.info {
    vertical-align: super;
}

#header_left, #header_right {
    padding: 1rem;
}

.info span {
    padding-left: 1.5rem;
}

.support span {
    padding-left: 1.5rem;
}

.buttons span {
    padding-right: 1rem;
}

header button {
    text-align: center;
}

  /* Main */

  .bg_jumbo {
    background-color: var(--db-jumbo-banner-square);
  }

  main .container {
    width: 60%;
  }

  #jumbotron {
    height: 595px;
  }

 #jumbotron h1 {
    font-size: 4rem;
    padding-top: 3rem;
 }

 #jumbotron p {
    font-size: 0.9rem;
 }

.jumbo_float img {
    float: right;
    height: 26rem;
    padding-top: 2rem;
    padding-left: 1rem;
}

.jumbo_float p {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.cancel {
    padding-top: 2rem;
}

.arrow {
    font-size: 2rem;
    padding-top: 1.5rem;
}

#plans h2 {
    text-align: left;
}

.checkbox {
    padding-top: 2rem;
    text-align: left;
}

.billing_options {
    
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 0.8rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   
}

.billing_options input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }

  .billing_options:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .billing_options input:checked ~ .checkmark {
    background-color: #2196F3;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .billing_options input:checked ~ .checkmark:after {
    display: inline-block;
  }

  .billing_options .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

  #plans {
    text-align: center;
  } 

  #plans h2 {
    font-size: 1.8rem;
    padding-top: 6rem;
  }

  .cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2.5rem;
  }

  .cards #professional, #advanced, #enterprise {
    display: inline-block;
    width: 20rem;
    border: 0.1rem solid #E8E8EA;
  }

  .title {
    border-bottom: 0.1rem solid #E8E8EA;
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .content {
    text-align:left;
    padding: 1.2rem;
  }

  .content h3 {
    padding-bottom: 0.8rem;
  }

  .month {
    font-size: 0.8rem;
    color: var(--db-month);
  }

  .unlisted li {
    padding: 0.5rem 0;
  }

  .unlisted i {
    padding-right: 0.3rem;
  }

  .content button {
    margin-top: 0.8rem;
}

  .buy_now {
    font-size: 0.8rem;
    padding-top: 1rem;
  }

  .border_mini {
    width: 3rem;
    border-bottom: 0.1rem solid #E8E8EA;
    padding-top: 1.5rem;
  }

  .content h5 {
    padding-top: 1.5rem;
  }

  .blue_check {
    color: #1363FF;
  }

  #enterprise_team {
    width: 100%;
    border: 0.1rem solid #E8E8EA;
    margin-top: 2rem;
  }

  .content_enterprise {
    padding: 1.2rem;
    position: relative;
    text-align: left;
  }

  .content_enterprise h3 {
    padding-bottom: 0.8rem;
  }

  .content_enterprise p {
    font-size: 0.7rem;
    padding-top: 2rem;
    width: 55%;
  }

  .content_enterprise button {
    position: absolute;
    left: 82%;
    top: 20%;
  }

  #partner {
    margin-top: 4rem;
  }

  .text {
    padding-top: 3.5rem;
    width: 82%;
  }

  #partner img {
    padding: 2rem;
    float: left;
  }

  #partner h3 {
    padding-top: 0.8rem;
  }

  #partner p {
    font-size: 0.7rem;
    padding: 0.7rem;
  }

  #business {
    width: 800px;
  }

  #business h2 {
    padding-left: 2rem;
    font-size: 1.8rem;
    padding-top: 4.5rem;
  }

  #business p {
    font-size: 0.7rem;
    padding: 1rem 0;
  }

  #business div {
    width: 15rem;
    padding: 1.2rem 0;
    padding-left: 2rem;
    display: inline-block;
  }

  .discover div {
    font-size: 0.8rem;
  }

  /* Footer */

  #design_partner {
    display: flex;
    justify-content: center;
  }

  .block_left {
    width: 33%;
    display: flex;
    flex-wrap: wrap;
  }

  .design img {
    width: 80px;
    padding: 4rem 0;

  }

  .uf img {
    width: 80px;
    padding: 5.5rem 0;

  }

  .asu img {
    width: 100px;
    padding: 4rem 0;
  }

  .topps img {
    width: 100px;
    padding: 4rem 0;
  }

  .block_center {
    width: 33%;
    text-align: left;
    background-color:var(--db-designit);
  }

  .block_center img {
    width: 200px;
    padding: 2rem;
  }

  .block_center p {
    font-size: 0.7rem;
    padding: 0 3rem;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
  }

  .block_center span {
    font-size: 0.7rem;
    padding: 0 3rem;
    padding-top: 5rem;
  }

  .border_design {
    margin-left: 2rem;
    padding-top: 0px;
    width: 5.5rem;
    border-bottom: 0.1rem solid var(--db-border-designit);
  }

  .block_right {
    width: 33%;
    display: flex;
    flex-wrap: wrap;
  }

  .block_right img {
    width: 100px;
    padding: 4rem 0;

  }

  #call_to_action {
    background-color: var(--db-jumbo-banner-square);
    display: flex;
    justify-content: center;
    gap: 10rem;
    padding: 6rem;
  }

  #call_to_action h2 {
    font-size: 1.8rem;
  }

  .business_title {
    width: 35%;
  }

  #faq h2 {
    font-size: 1.8rem;
    padding-bottom: 2rem;
    padding-top: 6rem;
  }

  .questions {
    display: flex;
    flex-direction: column;
  }

  .questions span {
    padding-left: 35rem;
  }

 .first_question {
  border-top: 0.1rem solid var(--db-border-designit);
  border-bottom: 0.1rem solid var(--db-border-designit);
  padding: 1.5rem;
 }

 .second_question {
  border-bottom: 0.1rem solid var(--db-border-designit);
  padding: 1.5rem;
 }

 .third_question {
  border-bottom: 0.1rem solid var(--db-border-designit);
  padding: 1.5rem;
  margin-bottom: 6rem;
 }

  .bg_footer {
    background-color: var(--db-dark);
    height: 400px;
  }

  #footer_bottom {
    display: flex;
    justify-content: center;
    color: var(--db-primary);
    padding-top: 4rem;
  }

  .footer_menu {
    flex-grow: 1;
  }

/* Utilities */

.inline_block {
    display: inline-block;
}

.opensans {
    font-family: 'Open Sans', sans-serif;
  }

  .btn_blue {
    border-radius: 1.6rem;
    height: 1rem;
    padding: 1rem 1.5rem;
    line-height: 0;
    font-size: 0.6rem;
    border: white;
    color: var(--db-primary);
    background-color: var(--db-buttons);
  }

  .btn_white {
    border-radius: 1.6rem;
    height: 1rem;
    margin-top: 10px;
    padding: 1.2rem 1.5rem;
    line-height: 0;
    font-size: 0.6rem;
    color: var(--db-dark);
    background-color: var(--db-primary);
  }

  a:link {
    text-decoration: none;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  .m-left {
    margin-left: 3rem;
  }

  .unlisted {
    list-style: none;
    font-size: 0.7rem;
    padding-top: 1.5rem;
  }

  .design_block {
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
  }

  .border_faq {
    border-bottom: 0.1rem solid var(--db-border-designit);
  }